<table class="data_input">

  <tr>
	<td class="heading"><%=f.label :exp_years %></td>
	<td><%=f.select :exp_years, (0..30)%></td>
	</tr>

  <tr>
	<td class="heading"><%=f.label :company_name %></td>
	<td><%=f.text_field :company_name%></td>
	</tr>

  <tr>
	<td class="heading"><%=f.label :company_location %></td>
  <td><%=f.text_field :company_location %></td>
	</tr>

  <tr>
	<td class="heading"><%=f.label :designation %></td>
	<td><%=f.text_field :designation %></td>
	</tr>

  <tr>
	<td class="heading"><%=f.label :employer_status %></td>
	<td><%=f.select :employer_status,options_for_select(%w[Current Previous Other]) %></td>
	</tr>

  <tr>
	<td class="heading"><%=f.label :key_skills %></td>
	<td><%=f.text_field :key_skills %></td>
	</tr>

  <tr>
	<td class="heading"><%=f.label :job_profile %></td>
	<td><%=f.text_area :job_profile, :size => "5x5"%></td>
	</tr>

</table>
<%= f.link_to_remove "remove" %>
