<p id="notice">
	<%= notice %>
</p>

<%= nested_form_for @user do |f| %>
  <%= f.fields_for :informations do |builder| %>
  <%= render 'informations_fields', :f => builder %>
  <%end%>
  <%=f.link_to_add "ADD", :informations %>  
<%end%>