<p id="notice">
	<%= notice %>
</p>


<%= nested_form_for @user do |f| %>
  <%= f.fields_for :projects do |builder| %>

    <%= render 'projects_fields', :f => builder %>
    
  <%end%>
  <%=f.link_to_add "ADD", :projects %>  
<%end%>

